.login-page {
  background-image: url('../images/loginPage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  font-weight: 800;
  height: 100vh;
}

/* Autor: Foolish Developer */
/* Fonte: https://freefrontend.com/css-login-forms/ */

.login form {
  height: 520px;
  width: 340px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.login form * {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}
.login input {
  color: #ffffff;
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 300;
}
.login input::placeholder {
  color: rgba(44, 27, 27, 0.658);
}
.login button {
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 24px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.login button:disabled {
  width: 100%;
  background-color: #080710;
  color: white;
  padding: 15px 0;
  font-size: 24px;
  font-weight: 600;
  border-radius: 5px;
  cursor: none;
}

.text-muted {
  color: rgba(44, 27, 27, 0.658) !important;
}
